<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NetMode</key>
	<string>Release</string>
	<key>navigationBarTitleColor</key>
	<string>000000</string>
	<key>navigationBarColor</key>
	<string>ffffff</string>
	<key>-------OCR-------</key>
	<string></string>
	<key>ocr_title</key>
	<string>身份证扫描</string>
	<key>ocr_manual_buttonTitleColor</key>
	<string>4390f7</string>
	<key>ocr_agreement_buttonTitleColor</key>
	<string>4390f7</string>
	<key>ocr_agreement_titleColor</key>
	<string>a9aaab</string>
	<key>ocr_checkbox_fillColor</key>
	<string>323f52</string>
	<key>ocr_checkbox_fillBorderColor</key>
	<string>a9aaab</string>
	<key>ocr_checkbox_borderColor</key>
	<string>a9aaab</string>
	<key>ocr_checkbox_checkmarkColor</key>
	<string>ffffff</string>
	<key>ocr_alert_text</key>
	<string>退出将会导致您的认证中断，再次认证将重新开始</string>
	<key>-------OCR信息核验-------</key>
	<string></string>
	<key>ocr_result_startButtonTitle</key>
	<string>已确认姓名无误</string>
	<key>ocr_result_title</key>
	<string>确认姓名</string>
	<key>ocr_result_titleColor</key>
	<string>ffffff</string>
	<key>ocr_result_startButtonBGColor</key>
	<string>323f52</string>
	<key>ocr_result_startButtonTitleColor</key>
	<string>ffffff</string>
	<key>ocr_result_changeButtonTitleColor</key>
	<string>6c9af0</string>
	<key>ocr_result_nameColor</key>
	<string>6c9af0</string>
	<key>ocr_result_explainColor</key>
	<string>555555</string>
	<key>-------活体检测-------</key>
	<string></string>
	<key>live_progress_title</key>
	<string>处理中</string>
	<key>live_title</key>
	<string>刷脸</string>
	<key>live_checkbox_fillColor</key>
	<string>323f52</string>
	<key>live_checkbox_fillBorderColor</key>
	<string>a9aaab</string>
	<key>live_checkbox_borderColor</key>
	<string>a9aaab</string>
	<key>live_checkbox_checkmarkColor</key>
	<string>ffffff</string>
	<key>live_backgroundColor</key>
	<string>ffffff</string>
	<key>live_fillLineColor</key>
	<string>5d70cb</string>
	<key>live_dashLineColor</key>
	<string>5d70cb</string>
	<key>live_bubbleBGColor</key>
	<string>5d70cb</string>
	<key>live_bubbleTitleColor</key>
	<string>ffffff</string>
	<key>live_startButtonTitleColor</key>
	<string>ffffff</string>
	<key>live_startButtonBGColor</key>
	<string>5d70cb</string>
	<key>live_agreement_buttonTitleColor</key>
	<string>4390f7</string>
	<key>live_agreement_titleColor</key>
	<string>a9aaab</string>
	<key>live_alert_text</key>
	<string>退出将会导致您的认证中断，再次认证将重新开始</string>
	<key>-------视频存证-------</key>
	<string></string>
	<key>video_record_title</key>
	<string>视频存证</string>
	<key>video_play_title</key>
	<string>视频预览</string>
	<key>video_progress_title</key>
	<string>视频上传中</string>
	<key>-------实名验证-------</key>
	<string></string>
	<key>idauth_progress_title</key>
	<string>处理中</string>
	<key>-------人脸比对-------</key>
	<string></string>
	<key>compare_progress_title</key>
	<string>处理中</string>
</dict>
</plist>
